<div class="submit pull-right"><%= link_to 'Submit a link', new_post_path, class: 'btn primary' %></div>

<% @posts.each do |post| %>

  <div class="post clearfix">
    <%= link_to post.title, post.link, class: 'title' %>
    <div class="show-link"><%= link_to 'Show', post %></div>
  </div>

<% end %>
