// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  height: 40px;
  padding: 5px 10px;
  .show-link {
    padding-top: 3px;
    a {
      color: #555;
      font-size: 11px;
    }
  }
  &:nth-child(2n) {
    background-color: #f0f3fc;
  }
  .title {
    font-size: 16px;
  }
}

.clearfix {
  clear: both;
}

.submit {
  margin-bottom: 5px;
}